*

# >-----< INCLUDES >-----< #

# [+]: Git files
!.gitignore

# [+]: Repo files
!LICENSE.md
!README.md

# [+]: Server files
!server/
!server/**

# [+]: Source files
!public/
!public/**
!source/
!source/**
!index.html

# [+]: Script files
!scripts/
!scripts/**

# [+]: Node files
!.nvmrc
!package-lock.json
!package.json

# [+]: Config files
!.editorconfig
!.prettierignore
!eslint.config.js
!tsconfig.app.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts

# [+]: Environment files
!.env.example

# [+]: Docker files
!.dockerignore
!compose.yaml
!Dockerfile

# >-----< EXCLUDES >-----< #

# [-]: macOS files
.DS_Store
**/.DS_Store
