.container {
  height: 100vh;
  background-color: #2E2A24;
  color: #F9D094;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
}

.terminalWrapper {
  width: 100%;
  max-width: 800px;
  padding: 16px;
  background-color: #201C17;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
