.footer-container {
  width: 100%;
  max-width: 1000px;

  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: var(--spacing-md);

  transition: max-width var(--transition-medium);
}

.footer-logo {
  width: auto;
  height: 24px;

  display: block;

  -webkit-user-drag: none;

  transition: height var(--transition-medium);
}

.footer-container p {
  font: 400 var(--text-xs) / 1 var(--font-body);

  color: var(--color-background);

  transition: font var(--transition-medium);
}

@media (min-width: 1600px) {
  .footer-container {
    max-width: 1200px;
  }
}

@media (min-height: 1000px) {
  .footer-logo {
    height: 32px;
  }

  .footer-container p {
    font: 400 var(--text-sm) / 1.5 var(--font-body);
  }
}
